main {
  display: flex;
  flex-direction: column;
}

.collection-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.collection-header h1 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #141413;
  padding: 1em 0;
}

.collection-header span {
  color: #676574e3;
  font-size: 0.8rem;
  font-weight: 500;
}

.saved-grid {
  display: grid;
  flex-direction: row;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.saved-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 180px;
  height: 240px;
  border-radius: 1em;
  padding-bottom: 0.5em;
}

.saved-card-footer p {
  color: #fff;
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.7),
    0 0 30px rgba(0, 0, 0, 0.5),
    0 0 60px rgba(0, 0, 0, 0.3);
  padding: 0 0 0 0.8rem;
}

.saved-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.saved-detail {
  font-size: 0.75rem;
  font-weight: 600;
}

.saved-card button {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  cursor: pointer;
}
